.root-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &--main-menu {
    margin: 0;
    padding: 0;
    &--toggle{
      position: absolute;
    }
  }

  &--realtime-clock{
    font-size: 1rem;
    font-weight: bold;
    margin: 0.5rem 1rem;
    position: absolute;
    right: 0;
  }

  &--content{
    width: inherit;
    height: inherit;
    padding: 2.5rem 1.5rem;


    &--preloader{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 88;
    }
  }
}

