<div [className]="darkTheme? 'theme-dark':'theme-light'">
<mat-sidenav-container id="drawer" class="root-container" (backdropClick)="drawer.close()" hasBackdrop="true">
  <mat-sidenav #drawer class="root-container--main-menu" mode="side" id="menu_drawer" (keydown.escape)="drawer.close()">
    <app-main-menu></app-main-menu>
  </mat-sidenav>

  <!--  -->
  <mat-sidenav-content style="overflow: hidden">
    <div *ngIf="!drawer.opened" class="root-container--main-menu--toggle">
      <button mat-icon-button (click)="drawer.toggle()" type="button" disableRipple>
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div class="root-container--realtime-clock">
      <p>{{clock | date: 'hh:mm:ss'}}</p>
    </div>

    <div class="root-container--content">

      <div *ngIf="loadingData" class="root-container--content--preloader">
        <!--        <mat-spinner></mat-spinner>-->
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>

        <router-outlet></router-outlet>
    </div>


  </mat-sidenav-content>
</mat-sidenav-container>
</div>

