<div class="mat-elevation-z8 content-container">
  <div class="hidden-columns">
    <div *ngFor="let col of hiddenColumns">
      <button class="hidden-columns--btn" mat-button color="primary" (click)="addColumn(col)">{{columnLabels[col]}}</button>
    </div>
  </div>
  <table mat-table [dataSource]="devices" matSort class="table">

    <!--  name column -->
    <ng-container  matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{columnLabels.name}}</th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
      <td class="table--footer" mat-footer-cell *matFooterCellDef>
        <mat-icon (click)="hideColumn('name')" class="table--footer--link">clear</mat-icon>
      </td>
    </ng-container>

    <!--  series column -->
    <ng-container matColumnDef="series">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{columnLabels.series}}</th>
      <td mat-cell *matCellDef="let element">{{seriesEnum[element.series]}}</td>
      <td class="table--footer" mat-footer-cell *matFooterCellDef>
        <mat-icon (click)="hideColumn('series')" class="table--footer--link">clear</mat-icon>
      </td>
    </ng-container>

    <!--  ip column -->
    <ng-container matColumnDef="ip">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{columnLabels.ip}}</th>
      <td mat-cell *matCellDef="let element">{{element.ip}}</td>
      <td class="table--footer" mat-footer-cell *matFooterCellDef>
        <mat-icon (click)="hideColumn('ip')" class="table--footer--link">clear</mat-icon>
      </td>
    </ng-container>

    <!--  regDate column -->
    <ng-container matColumnDef="regDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{columnLabels.regDate}}</th>
      <td mat-cell *matCellDef="let element">{{element.regDate | date: 'dd/MM/yy'}}</td>
      <td class="table--footer" mat-footer-cell *matFooterCellDef>
        <mat-icon (click)="hideColumn('regDate')" class="table--footer--link">clear</mat-icon>
      </td>
    </ng-container>

    <!--  state column -->
    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{columnLabels.state}}</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon>{{getConnectionStateIcon(element.state)}}</mat-icon>
      </td>
      <td class="table--footer" mat-footer-cell *matFooterCellDef>
        <mat-icon (click)="hideColumn('state')" class="table--footer--link">clear</mat-icon>
      </td>
    </ng-container>

    <!--  workingCondition column -->
    <ng-container matColumnDef="workingCondition">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{columnLabels.workingCondition}}</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon *ngIf="element.workingCondition">power</mat-icon>
        <mat-icon *ngIf="!element.workingCondition">power_off</mat-icon>
      </td>
      <td class="table--footer" mat-footer-cell *matFooterCellDef>
        <mat-icon (click)="hideColumn('workingCondition')" class="table--footer--link">clear</mat-icon>
      </td>
    </ng-container>

    <!--  procFrequency column -->
    <ng-container matColumnDef="procFrequency">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{columnLabels.procFrequency}}</th>
      <td mat-cell *matCellDef="let element">{{element.procFrequency}}</td>
      <td class="table--footer" mat-footer-cell *matFooterCellDef>
        <mat-icon (click)="hideColumn('procFrequency')" class="table--footer--link">clear</mat-icon>
      </td>
    </ng-container>

    <!--  ramMb column -->
    <ng-container matColumnDef="ramMb">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{columnLabels.ramMb}}</th>
      <td mat-cell *matCellDef="let element">{{element.ramMb}}</td>
      <td class="table--footer" mat-footer-cell *matFooterCellDef>
        <mat-icon (click)="hideColumn('ramMb')" class="table--footer--link">clear</mat-icon>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="selectRow(row)"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>


</div>
