.content-container {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  padding: 1.5rem;
  border-radius: 5px;

  .hidden-columns {
    display: flex;

    &--btn{
      margin-right: 1rem;
    }
  }

  .table {
    width: 100%;
    flex-grow: 1;

    &--footer {


      &--link {
        font-size: 1rem;
        color: gray;

        &:hover {
          color: red;
          cursor: pointer;
        }
      }

    }
  }


}
