@import "src/styles.scss";

$accent: map-get($miniSLA-light-theme, accent);
$warn: map-get($miniSLA-light-theme, warn);
$foreground: map-get($miniSLA-light-theme, foreground);
$background: map-get($miniSLA-light-theme, background);

.content-container {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  padding: 1.5rem;
  border-radius: 5px;

  .hidden-columns {
    display: flex;

    &--btn {
      margin-right: 1rem;
    }
  }

  .table {
    width: 100%;
    flex-grow: 1;

    &--footer {


      &--link {
        font-size: 1rem;
        color: mat-color($foreground);

        &:hover {
          color: mat-color($warn);
          cursor: pointer;
        }
      }

    }
  }


}
