@import "src/styles.scss";
$primary: map-get($miniSLA-light-theme, primary);
$accent: map-get($miniSLA-light-theme, accent);

.main-menu {

  &--item {
    margin-bottom: .5rem;

    &--link {
      width: 100%;
      display: flex;
      flex-direction: inherit;
    }

    &--active {
      font-weight: bold;
      background: mat-color($accent);
    }



    &--icon {
      margin-right: 1rem;
    }
  }
}

.user-info {
  width: 100%;

  &--details {
    padding: 1rem;
    margin: 0;
    font-size: 14pt;
    display: flex;
    align-self: center;
    flex-direction: column;
  }
}

