.user-info{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  &-icon {
    font-size: 18pt;
    margin: 0;
  }

  &-name{
    font-size: 14pt;
    margin: 0;
  }


}
